node_modules/
.env
checkfiles/
scripts/
*.*~
test.php
d.handlebars
html-pages/
starter.sh
afrihostOriginalIPAddress
facebookSnippet.js
redrawTemp.js
test.R
testR.js
transitionExample.js
useful_SQL.sql
sass/
php/
js/bootstrap-hover-dropdown.js
js/bootstrap-hover-dropdown.min.js
jquery-ui-1.11.4.custom/
lib/drawTable.js
