#loginbutton {
  position: absolute;
  display: inline-block;
  right: 0px;
  padding-top: 8px;
  padding-right: 8px;
  color: grey;
}
#loginbutton:hover {
  color: white;
}
.homebuttons {
  padding-top: 4.2em;
  position: relative;
  height: 10em;
  width: 100%;
  text-align: center;
}
.button {
  border: 2px solid #113461;
  display: inline-block;
  color: white;
  background-color: rgba(22,64,120,1);;
  border-radius: 80%;
  height: 6em;
  width: 6em;
  margin: 0 2em;
  line-height: 6em;
  font-size: 1.5em;
  font-family: adam;
}
.button:hover {
  background-color: rgba(22,64,120,0.5);;
  color: black;
}

.periodbuttons {
  padding-top: 10px;
}
