.date {
  background: green !important;
  color: white !important;
  font-weight: bold;
}

.purchase-date {
  background: orange !important;
  color: white !important;
  font-weight: bold;
}

.sale-date {
  background: purple !important;
  color: white !important;
  font-weight: bold;
}

.date-input {
  width: 8em !important;
  font-weight: bold;
}
