.form-element {
  margin-top: 0.5em;
}
#period-compare {
display: none;
}
.hide-element {
  display: none;
}
.chart-adder-element {
display: inline-block;
}
.data-filter {
  display: none;
}
#period-compare-btn {
  display: inline-block;
}
.chart rect:hover {
  opacity: 0.7;
}
.chart {
  border: 1px solid #cccccc;
  text-align: center;
}
.type-select-graph {
  width: 8em;
}

.show-element-inline {
  display: inline-block;
}

.chart-adder {
  margin-left: 10%;
}
