.form-element {
  margin-top: 0.5em;
}
.period-compare {
display: none;
}
.hide-element {
  display: none;
}
.chart-adder-element {
display: inline-block;
}
// .data-filter {
//   display: none;
// }
.period-compare-btn {
  display: inline-block;
}
#big-container {
  position: absolute;
  margin: 0 auto;
}
#container {
  width: 100%;
}

.chart-container {
  padding-left: 10px;
  // width: 50%;
}
.centering {
  text-align: center;
}
.no-centering {
  display:inline-block;
}
.svg-remove-centering {
  margin: 0 auto;
}
svg {
  border: 1px solid #cccccc;
    background-color: white;
  // text-align: center;
}
.svg-remove{
  position: relative;
  width: 100%;
}
.svg-edit {
  position: relative;
  width: 50%;

}
.type-select-graph {
  width: 8em;
}

.show-element-inline {
  display: inline-block;
}

.chart-add {
  margin-left: 10%;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  stroke-width: '1px';
  shape-rendering: crispEdges;
}

rect.bar {
  fill: green;
}

rect.bar:hover {
  // fill: blue ;
  fill: orangered ;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.chartedit {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}
.chart-edit {
  position: absolute;
  width: 20%;
  z-index: 20;
}
/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.product-select {
  max-width: 180px;
}

.data-quantity-filter {
  // max-width: 280px;
}

.groupstack-container {
  position: relative;
  width: 0;
  height: 0;

}
.groupstack-first {
  position:absolute;
  width: 10em;
  top: -32em;
  left: 45em;
}
.groupstack {
  position:absolute;
  width: 10em;
  top: -32em;
  left: 20em;
}

.groupstack-label {
  color: black;
}
