th a, td a {
  cursor: pointer;
}
.link-header {
  padding: none;
}
th a:hover, td a:hover {
  text-decoration: none;
}
th.link-header:hover, td.link-cell:hover, button.table-links:hover {
  background-color: rgba(142,16,10,0.5);
}
table {
  margin-top: 2em !important;
}
.title h2 span {
  color: #B92E10;
}
.stats-description {
  color: white;
  font-family: abel;
  font-size: 3em;
}
.title {
  font-family: calendas;
  font-size: 3em;
  color: white;
  text-align: center;
}
.search {
  display: inline-block;
}
.add-form-message-text, .table-links, .db-table {
  color: white !important;
}
.table-links {
  text-align: center;
}
.body-tpage {
  background-color: white;
}

.left-indent {
  text-align: right;
  text-indent: 20px;
}

.center-table {
  margin: 0 auto;
}

.thead-inverse {
  background-color: #36454F;
  color: white;
}

.inverse {
  background-color: #36454F !important;
  color: white;
}

// .add-link {
//   position: relative;
//   color: black;
// }

.links {
  color: black;
}

.myTables {
  border-collapse:collapse;
  th,td{
    padding: 0.5em 1em;
}
}
#products-table {
  th,td{
    padding: 0.2em 1em;
  }
}
.summary-table {
margin-bottom: 5em;
}
// .crud-table {
//   border: solid 1px black;
//   background-color: rgba(277,277,277,1);
// }
.custom-combobox {
  //  position: relative;
  //  display: inline-block;
 }
 .custom-combobox-toggle {
   position: absolute;
   top: 0;
   bottom: 0;
   margin-left: -1px;
   padding: 0;
 }
 .custom-combobox-input {
   margin: 0;
   padding: 6px 12px;
   min-width: 30em;
 }

 .show-all-button {
   height: 34px;
  //  border: 1px solid black;
   background-color: white;
   margin-bottom: 3px;
  //  border-bottom-color: rgb(221,221,221);
   border: 1px solid #ccc;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  //  border: 2px inset;
 }

 @media (min-width:10px) and (max-width:991px) {
   #labels {
     float: left;
   }
   #labels label {
     padding: 6px 0;
     margin: 4px 10px 4px 0;
   }
   #inputs select, #inputs input {
     max-width: 40%;
     min-width: 10%;
     margin: 3px 0;
   }
 }
