th a, td a {
  cursor: pointer;
}
.link-header {
  padding: none;
}
th a:hover, td a:hover {
  text-decoration: none;
}
th.link-header:hover, td.link-cell:hover, button.table-links:hover {
  background-color: rgba(142,16,10,0.5);
}
table {
  margin-top: 2em !important;
}
.title h2 span {
  color: #B92E10;
}
.stats-description {
  color: white;
  font-family: abel;
  font-size: 3em;
}
.title {
  font-family: calendas;
  font-size: 3em;
  color: white;
  text-align: center;
}
.search {
  display: inline-block;
}
.add-form-text, .add-form-message-text, .table-links, .db-table {
  color: white !important;
}
.table-links {
  text-align: center;
}
.body-tpage {
  background-color: white;
}

.left-indent {
  text-align: right;
  text-indent: 20px;
}

.center-table {
  margin: 0 auto;
}

.thead-inverse {
  background-color: #36454F;
  color: white;
}

.inverse {
  background-color: #36454F !important;
  color: white;
}

// .add-link {
//   position: relative;
//   color: black;
// }

.links {
  color: black;
}

.myTables {
  border-collapse:collapse;
  th,td{
    padding: 0.5em 1em;
}
}
#products-table {
  th,td{
    padding: 0.2em 1em;
  }
}
.summary-table {
margin-bottom: 5em;
}
// .crud-table {
//   border: solid 1px black;
//   background-color: rgba(277,277,277,1);
// }
