
.body-tpage {
  background-color: white;
}

.left-indent {
  text-align: right;
  text-indent: 20px;
}

.center-table {
  margin: 0 auto;
}

.thead-inverse {
  background-color: #36454F;
  color: white;
}

.inverse {
  background-color: #36454F !important;
  color: white;
}

.add-link {
  position: relative;
  left: 60%;
  color: black;
}

.links {
  color: black;
}

.myTables {
  border-collapse:collapse;
  th,td{
    padding: 0.5em 1em;
}
}

// .crud-table {
//   border: solid 1px black;
//   background-color: rgba(277,277,277,1);
// }
