<h1>about page</h1>
  <button id="address">go to cape town</button>
    <div id="map"></div>
<script src="/js/maps.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAonCzmvSVYadxu8aHKz8rKwURPGfsXhPA&callback=initMap" async defer></script>
