<div class="overlay"></div>
<center>
<div id="admin-login" class="alert-box">
  <h3>ADMIN LOGIN</h3>
    <p>Please enter admin passphrase.</p>
    <input type="password" name="adminPass" id="adminPass">
    <button id="adminLoginButton">LOGIN</button>
</div>
