<div class="overlay"></div>

<center>
<div id="admin-login" class="alert-box">
  <h3>ADMIN LOGIN</h3>
    <p id="message">{{message}}</p>
    <form action="/admin/login/check" method="post">
    <input type="text" name="adminUsername" id="adminUsername" class="login-input" placeholder="Enter username"><br/>
    <input type="password" name="adminPass" id="adminPass" class="login-input" placeholder="Enter password"><br/>
    <button type="submit" id="adminLoginButton">LOGIN</button>
    </form>
</div>
</center>
