<center>
<h3 class="title">Categories</h3>
<div class="center">
<form class="form-inline" action="/categories/search" method="post">
  <div class="row center-table">
  <div class="col-md-12">
    <div class="input-group search">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default button-search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </span>
<input class="form-control" type="text" name="search" id="search" placeholder="Find categories by name">
</div>
</div>
</div>
</form>
</div>
</center>
<table class="db-table table table-bordered table-hover table-sm center-table" id="categories-table">
  <thead class="thead-inverse">
    <tr>
      <th>ID</th>
      <th>Category</th>
      <th colspan="2" class="link-header"><a class="table-links" href="/categories/add"><div class="add-link">Add</div></a></th>
    </tr>
  </thead>
  <tbody id="searchResults">

    {{#no_categories}}
    <tr>
      <td class="crud-table" colspan="4">There are no categories. Please add a category above.</td>
    </tr>
    {{/no_categories}}

    {{#categories}}
    <tr>
      <td class="crud-table">{{id}}</td>
      <td class="crud-table">{{description}}</td>
      {{#if ../admin}}
      <td class="crud-table link-cell"><a class="table-links" href="/categories/edit/{{id}}"><div>Edit</div></a></td>
      <td class="crud-table link-cell"><a class="table-links" href="/categories/delete/{{id}}"><div>Delete</div></a></td>
      {{/if}}
    </tr>
    {{/categories}}

  </tbody>
</table>
