<div class="overlay"></div>
<center>
<div id="execute-alert" class="add-box">
  <h3>Add A Category</h3>

  <form action="/categories/add" method="post">
    <label for="description">Description</label>
    <input type="text" id="description" name="description">

    <input type="submit" value="Add Category">
  </form>
</div>

<div id="execute-success" class="alert-box">
<h3>SUCCESS</h3>
<p>Category added successfully</p>
<button id="execute-success-ok">OK</button>
</div>
</center>

<center>
<h3 class="title">Categories</h3>
<div class="center">
<form class="form-inline" action="/categories/search" method="post">
  <div class="row center-table">
  <div class="col-md-12">
    <div class="input-group search">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default button-search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </span>
<input class="form-control" type="text" name="search" id="search" placeholder="Find categories by name">
</div>
</div>
</div>
</form>
</div>
</center>
<table class="db-table table table-bordered table-hover table-sm center-table" id="categories-table">
  <thead class="thead-inverse">
    <tr>
      <th>ID</th>
      <th>Category</th>
      {{#if superuser}}
      <th colspan="2" class="link-header"><a class="table-links" href="/categories/add"><div class="add-link">Add</div></a></th>
      {{/if}}
    </tr>
  </thead>
  <tbody id="searchResults">

    {{#no_categories}}
    <tr>
      <td class="crud-table" colspan="4">There are no categories. Please add a category above.</td>
    </tr>
    {{/no_categories}}

    {{#categories}}
    <tr>
      <td class="crud-table">{{id}}</td>
      <td class="crud-table">{{description}}</td>
      {{#if ../superuser}}
      <td class="crud-table link-cell"><a class="table-links" href="/categories/edit/{{id}}"><div>Edit</div></a></td>
      <td class="crud-table link-cell"><a class="table-links" href="/categories/delete/{{id}}"><div>Delete</div></a></td>
      {{/if}}
    </tr>
    {{/categories}}

  </tbody>
</table>

<script>



</script>
