<center>
<h1>Categories</h1>
<form action="/categories/search" method="post">
<input type="text" name="search" id="search" placeholder="Find categories by name">
<button type="submit" id="search-submit">Search</button>
</form>
</center>
<table class="table table-bordered table-hover table-sm center-table" id="categories-table">
  <thead class="thead-inverse">
    <tr>
      <th>Category ID</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>

    {{#no_categories}}
    <tr>
      <td class="crud-table" colspan="4">There are no categories. Please add a category above.</td>
    </tr>
    {{/no_categories}}

    {{#categories}}
    <tr>
      <td class="crud-table">{{id}}</td>
      <td class="crud-table">{{description}}</td>
      <td class="crud-table"><a href="/categories/edit/{{id}}"><div>Edit</div></a></td>
      <td class="crud-table"><a href="/categories/delete/{{id}}"><div>Delete</div></a></td>
    </tr>
    {{/categories}}

  </tbody>
</table>
