<h3 class="title">Add A Category</h3>

<center>
<form class="form-inline" action="/categories/add" method="post">
  <div class="form-group">
  <label class="control-label" for="description">Description</label>
  <input class="form-control" type="text" id="description" name="description">
</div>
  <input class="btn btn=primary" type="submit" value="Add Category">
</form>
</center>
