<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Nelisa's - Home</title>
</head>
<body>
  <!-- <div class="divider1"></div> -->
  <div id=allbody-home>
  <div id="body-home">
  <div id="welcome"><span id="welcome-other">welcome to </span> <span id="welcome-nelisa"> Nelisa's </span> <span id="welcome-other"><!--the -->online portal</span></div>
  <!-- <div class = "divider1"></div> -->
  <div class = "copyright">Seller of bare necessities. <br><span id="oneliner">There when you're in need.</span></div>
  <!-- <div class = "divider1"></div> -->
</div>
  <div class = "homebuttons">

    <a href="/stats"><div class = "button">stats</div></a>
    <a href="/summary"><div class = "button">summary</div></a>
    <a href="/products"><div class = "button">products</div></a>
    <a href="/categories"><div class = "button">categories</div></a>
    <!-- <a href="/visuals"><div class = "button"></div></a> -->

  </div>
</div>
  <!-- <img src="/images/nelisa.jpg"></img> -->
</body>
</html>
