<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Spaza - Home Page</title>
</head>
<body>
  <div class="divider1"></div>
  <div id="welcome"><span id="welcome-other">Welcome to </span> <span id="welcome-nelisa"> Nelisa's </span> <span id="welcome-other"><!--the -->online portal</span></div>
  <div class = "divider1"></div>
  <div class = "message">Seller of bare necessities. There when you're in need.</div>
  <div class = "divider2"></div>

  <div class = "homebuttons">

    <a href="/stats"><div class = "button">stats</div></a>
    <a href="/summary"><div class = "button">summary</div></a>
    <a href="/visuals"><div class = "button">visuals</div></a>

    <!-- <a href="/"><div class = "button">trends</div></a>
    <a href="/"><div class = "button">stats</div></a>
    <a href="/"><div class = "button">visuals</div></a> -->


  </div>

  <!-- <img src="/images/nelisa.jpg"></img> -->
</body>
</html>
