<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Spaza - Home Page</title>
</head>
<body>
  <div class="pc1"></div>
  <div id="welcome">Welcome to Nelisa's</div>
  <div class = "pc1"></div>
  <img src="/images/nelisa.jpg"></img>
  <div>
</body>
</html>
