<h1>Products</h1>
{{#if admin}}
<a href="/products/add"><div class="add-link">Add</div></a>
{{/if}}
<table class="center-table">
  <thead>
  <tr>
    <th>Product ID</th>
    <th>Description</th>
    <th>Category</th>
  </tr>
  </thead>
  <tbody >
    {{#if admin}}
  {{#products}}
  <tr>
  {{> productsAdmin}}
  </tr>
  {{/products}}
  {{else}}
  {{#products}}
  <tr>
  {{> productsUser}}
  </tr>
  {{/products}}
  {{/if}}
</tbody>
</table>
  {{#no_products}}
    <p>You have no products. Please add one above.</p>
  {{/no_products}}
