<h1>execute sale</h1>

<fieldset>
  <label for="product">Product</label>
  <select class="" name="">
    {{#products}}
    <option value="{{product_id}}">{{description}}</option>
    {{/products}}
  </select>
  
</fieldset>
