{{#if cannotExecute}}
<div id="overlay"></div>
<!-- <div id="execute-alert">
  <h3>ALERT</h3>
    <p>You're attempting to sell some items for which there is no stock.</p>
    <table id="alert-table" class="myTables">
      <thead>
        <tr>
          <th>Product</th>
          <th>Sale Quantity</th>
          <th>Stock Available</th>
          <th>Can't Sell</th>
        </tr>
      </thead>
      <tbody>
      {{#each details}}
      <tr>
        <td>{{description}}</td>
        <td>{{quantity}}</td>
        <td>{{available}}</td>
        <td>{{cant_sell}}</td>
      </tr>
      {{/each}}
      </tbody>
    </table>

</div> -->
{{/if}}
