<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Nelisa's - Home</title>
</head>
<body>

  <div id="welcome"><span id="welcome-nelisa"> Nelisa's </span> <span id="welcome-other"><!--the -->weekly statistics</span></div>
  <div class="text-center periodbuttons">
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" class="btn btn-default">February</button>
    </div>
    <div class="btn-group" role="group" aria-label="...">
      <a href="/stats/m&l/1" type="button" class="btn btn-default">1</a>
      <a href="/stats/m&l/2" type="button" class="btn btn-default">2</a>
      <a href="/stats/m&l/3" type="button" class="btn btn-default">3</a>
      <a href="/stats/m&l/4" type="button" class="btn btn-default">4</a>
    </div>
  </div>
  <div class = "divider1"></div>
  <div class = "message">Please select a week for which you wish to view the relevant statistics.</div>
  <div class = "divider2"></div>

  <!-- <img src="/images/nelisa.jpg"></img> -->
</body>
</html>
