<h1 class="title">Suppliers</h1>

<table class="db-table table table-bordered table-hover table-sm center-table">
  <thead class="thead-inverse">
    <tr>
      <th>ID</th>
      <th>Supplier</th>
      <th class="link-header" colspan="2"><a class="table-links" href="/suppliers/add">Add</a></th>
    </tr>
  </thead>
  <tbody>

    {{#no_suppliers}}
    <tr>
      <td class="crud-table" colspan="4">There are no categories. Please add a category above.</td>
    </tr>
    {{/no_suppliers}}

    {{#suppliers}}
    <tr>
      <td class="crud-table">{{id}}</td>
      <td class="crud-table">{{name}}</td>
      <td class="crud-table link-cell"><a class="table-links" href="/suppliers/edit/{{id}}">Edit</a></td>
      <td class="crud-table link-cell"><a class="table-links" href="/suppliers/delete/{{id}}">Delete</a></td>
    </tr>
    {{/suppliers}}

  </tbody>
</table>
