@font-face {
  font-family: 'peach';
  src: url('/fonts/peach-sundress.ttf');
}
@font-face {
  font-family: 'raleway';
  src: url('/fonts/Raleway Thin.otf');
}
@font-face {
  font-family: 'abel';
  src: url('/fonts/Abel-Regular.ttf');
}
@font-face {
  font-family: 'langdon';
  src: url('/fonts/Langdon.otf');
}
@font-face {
  font-family: 'adam';
  src: url('/fonts/adam.otf');
}
@font-face {
  font-family: 'aleo-italic';
  src: url('/fonts/Aleo-Italic.otf');
}
@font-face {
  font-family: 'aleo-italic-light';
  src: url('/fonts/Aleo-LightItalic.otf');
}
@font-face {
  font-family: 'lora-italic';
  src: url('/fonts/Lora-Italic.ttf');
}
@font-face {
  font-family: 'calendas';
  src: url('/fonts/Calendas_Plus.otf');
}
@font-face {
  font-family: 'aleo-regular';
  src: url('/fonts/Aleo-Regular.otf');
}

h1 {
  font-family: adam;
  text-align: center;
  padding-top:  20px;
}

.dropdown {
  display: none;
}

.dropdown:hover li:hover {
  display: block;
}

.navbar {
  height: 40px;
}

.navbar-brand {
  padding-top: 7px;
  font-size: 30px;
}

.navbar-nav > li > a {
  font-family: adam;
    padding-top: 11px;
    padding-bottom: 5px;
}

img {
      position: relative;
      /*top: 5em;*/
      width: 100%;
      height: 30em;
}

.divider1 {
    height: 3em;
}
.divider2 {
    height: 5em;
}

#welcome {
        position: relative;
        /*top: 2em;*/
        text-align: center;
        padding-top: 10px;

}

#welcome-nelisa {
  font-weight: bolder;
  font-family: peach;
  font-size: 3.8em;
}

#welcome-other {
  font-size: 3em;
  font-family: abel;
  /*font-family: langdon;*/
}

#loginbutton {
  position: absolute;
  display: inline-block;
  right: 0px;
  padding-top: 8px;
  padding-right: 8px;
  color: grey;
}

.container-fluid {
  position: relative;
}

#loginbutton:hover {
  color: white;
}

.copyright {
  text-align: center;
font-size: 2em;
max-width: 90%;
  margin: 0 auto;
  padding: 15px 45px;
  font-family: aleo-regular;
  /*font-family: aleo-italic;*/
  /*font-family: aleo-italic-light;
  font-family: lora-italic;
  font-family: calendas;*/
}

#oneliner {
  text-align: center;
font-size: 1em;
max-width: 90%;
  margin: 0 auto;
  padding: 15px 45px;
  font-family: aleo-regular;
  /*font-family: aleo-italic;*/
  /*font-family: aleo-italic-light;*/
  /*font-family: lora-italic;*/
  /*font-family: calendas;*/
}

.message {
  text-align: center;
  font-family: raleway;
  font-size: 2em;
  /*background-color: rgba(255, 0, 0, 0.2);*/
  max-width: 90%;
  margin: 0 auto;
  padding: 15px 45px;
}

.homebuttons {
  position: relative;
  height: 10em;
  width: 100%;
  text-align: center;
}


.nelisa-font {
  font-family: peach;
}

.navbar-header {
  font-size: 30px;
  color: white;
}
.navbar-header:hover {
  color: white;
}

.button {
  display: inline-block;
  /*background-color: #FA7380;*/
  /*color: black;*/
  color: white;
  background-color: red;
  border-radius: 4px;
  height: 5em;
  width: 10em;
  line-height: 5em;
  font-size: 1.5em;

  font-family: adam;
}
.button:hover {
  /*background-color: red;*/
  /*color: white;*/
  /*background-color: #FA7380;*/
  border-radius: 80%;
  width: 5em;
  margin: 0 2em;
  background-color: #6208FC;
  color: black;
  transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  /*font-size: 2em;*/
}

.periodbuttons {
  padding-top: 10px;
}

.left-indent {
  text-align: right;
  text-indent: 20px;
}

.center-table {
  margin: 0 auto;
}

.thead-inverse {
  background-color: #36454F;
  color: white;
}

.inverse {
  background-color: #36454F !important;
  color: white;
}*
