@font-face {
  font-family: 'peach';
  src: url('/fonts/peach-sundress.ttf');
}
@font-face {
  font-family: 'raleway';
  src: url('/fonts/Raleway Thin.otf');
}
@font-face {
  font-family: 'abel';
  src: url('/fonts/Abel-Regular.ttf');
}
@font-face {
  font-family: 'langdon';
  src: url('/fonts/Langdon.otf');
}
@font-face {
  font-family: 'adam';
  src: url('/fonts/adam.otf');
}
@font-face {
  font-family: 'aleo-italic';
  src: url('/fonts/Aleo-Italic.otf');
}
@font-face {
  font-family: 'aleo-light';
  src: url('/fonts/Aleo-Light.otf');
}
@font-face {
  font-family: 'lora-italic';
  src: url('/fonts/Lora-Italic.ttf');
}
@font-face {
  font-family: 'calendas';
  src: url('/fonts/Calendas_Plus.otf');
}
@font-face {
  font-family: 'aleo-regular';
  src: url('/fonts/Aleo-Regular.otf');
}
